body {

    background-color: rgb(56, 116, 180);
}



h1:hover {

color: aliceblue;

}


p1:hover {

color: aliceblue;
}

p2:hover {
color: aliceblue;

}

p3:hover {
    color: aliceblue;

}

p4:hover {

    color: aliceblue;

}

p5:hover {
    color: aliceblue;
    
}